<a href="https://colab.research.google.com/github/alekhaya99/Pandas_Tutorial/blob/master/Pandas_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

# Series

Series is a one dimensional array-like object contaning a sequence of values and associated array of data labels called it index

In [20]:
object=pd.Series([4,7,-5,3])
object

0    4
1    7
2   -5
3    3
dtype: int64

In [21]:
#In order to get the index
object.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
#In order to find out the values 
object.values

array([ 4,  7, -5,  3])

In [23]:
#In order to add labeling of the index
object_2 = pd.Series([1,2,3,4], index=['a','b','c','d'])
object_2

a    1
b    2
c    3
d    4
dtype: int64

In [24]:
object_2['a']

1

In [25]:
object_2['a']=0

In [26]:
object_2[['a','b','c']]

a    0
b    2
c    3
dtype: int64

In [27]:
object_2[object_2>2]

c    3
d    4
dtype: int64

In [28]:
import numpy as np
np.exp(object_2)

a     1.000000
b     7.389056
c    20.085537
d    54.598150
dtype: float64

In [29]:
'b' in object_2

True

In [30]:
#Converting a Python Dictionary into Panda series
Dict={'Singapore':'Singapore','India':'Delhi','Philippines':'Manila'}
Object_3=pd.Series(Dict)
Object_3

Singapore      Singapore
India              Delhi
Philippines       Manila
dtype: object

In [32]:
Countries=['Philippines','India','USA']
Object_4=pd.Series(Object_3,index=Countries)
Object_4

Philippines    Manila
India           Delhi
USA               NaN
dtype: object

In [33]:
pd.isnull(Object_4)

Philippines    False
India          False
USA             True
dtype: bool

In [34]:
pd.notnull(Object_4)

Philippines     True
India           True
USA            False
dtype: bool

In [35]:
Object_3+Object_4

India            DelhiDelhi
Philippines    ManilaManila
Singapore               NaN
USA                     NaN
dtype: object