<a href="https://colab.research.google.com/github/alekhaya99/Pandas_Tutorial/blob/master/Pandas_Tutorial_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some Important Fuctionality

In [13]:
import pandas as pd
import numpy as np

In [8]:
object=pd.Series([10,5,20,-9,72],index=['a','b','c','d','e'])
object

a    10
b     5
c    20
d    -9
e    72
dtype: int64

In [9]:
#In order to reindex the pandas Series
object1=object.reindex(['a','b','c','d','e','f'])
object1

a    10.0
b     5.0
c    20.0
d    -9.0
e    72.0
f     NaN
dtype: float64

In [10]:
Object2=pd.Series(['blue','purple','yellow'],index=[0,2,4])
Object2

0      blue
2    purple
4    yellow
dtype: object

In [11]:
#Inorder to reindex and fill up the empty value
Object2.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [18]:
Object_DataFrame=pd.DataFrame(np.arange(16).reshape((4,4)),index=['a','b','c','d'],columns=['A','B','C','D'])
Object_DataFrame

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [20]:
Object_DataFrame1=Object_DataFrame.reindex(['a','b','c','d','e'])
Object_DataFrame1

      A     B     C     D
a   0.0   1.0   2.0   3.0
b   4.0   5.0   6.0   7.0
c   8.0   9.0  10.0  11.0
d  12.0  13.0  14.0  15.0
e   NaN   NaN   NaN   NaN

In [22]:
alphabets=['A','E','D']
Object_DataFrame.reindex(columns=alphabets)

    A   E   D
a   0 NaN   3
b   4 NaN   7
c   8 NaN  11
d  12 NaN  15

# pandas.DataFrame.reindex


According to https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html 
1.   **keywords for axes :array-like, optional**
*   New labels / index to conform to, should be specified using keywords. Preferably an Index object to avoid duplicating data.
2. ** method{None, ‘backfill’/’bfill’, ‘pad’/’ffill’, ‘nearest’}**


*   Method to use for filling holes in reindexed DataFrame. Please note: this is only applicable to DataFrames/Series with a monotonically increasing/decreasing index.

None (default): don’t fill gaps

pad / ffill: Propagate last valid observation forward to next valid.

backfill / bfill: Use next valid observation to fill gap.

nearest: Use nearest valid observations to fill gap. *italicised text*
*  copybool: default True


3.   **copybool: default True**


*   Return a new object, even if the passed indexes are the same.
*   List item


4.  **level: int or name**

*   Broadcast across a level, matching Index values on the passed MultiIndex level.


5.   **fill_value :scalar, default np.NaN**

* Value to use for missing values. Defaults to NaN, but can be any “compatible” value.  

6. **limit: int, default None**
*   Maximum number of consecutive elements to forward or backward fill.


7.   **tolerance: optional**


*   Maximum distance between original and new labels for inexact matches. The values of the index at the matching locations most satisfy the equation abs(index[indexer] - target) <= tolerance.

Tolerance may be a scalar value, which applies the same tolerance to all values, or list-like, which applies variable tolerance per element. List-like includes list, tuple, array, Series, and must be the same size as the index and its dtype must exactly match the index’s type.