<a href="https://colab.research.google.com/github/alekhaya99/Pandas_Tutorial/blob/master/Pandas_Tutorial_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some Important Fuctionality

In [1]:
import pandas as pd
import numpy as np

In [2]:
object=pd.Series([10,5,20,-9,72],index=['a','b','c','d','e'])
object

a    10
b     5
c    20
d    -9
e    72
dtype: int64

In [3]:
#In order to reindex the pandas Series
object1=object.reindex(['a','b','c','d','e','f'])
object1

a    10.0
b     5.0
c    20.0
d    -9.0
e    72.0
f     NaN
dtype: float64

In [4]:
Object2=pd.Series(['blue','purple','yellow'],index=[0,2,4])
Object2

0      blue
2    purple
4    yellow
dtype: object

In [5]:
#Inorder to reindex and fill up the empty value
Object2.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [6]:
Object_DataFrame=pd.DataFrame(np.arange(16).reshape((4,4)),index=['a','b','c','d'],columns=['A','B','C','D'])
Object_DataFrame

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [7]:
Object_DataFrame1=Object_DataFrame.reindex(['a','b','c','d','e'])
Object_DataFrame1

      A     B     C     D
a   0.0   1.0   2.0   3.0
b   4.0   5.0   6.0   7.0
c   8.0   9.0  10.0  11.0
d  12.0  13.0  14.0  15.0
e   NaN   NaN   NaN   NaN

In [8]:
alphabets=['A','E','D']
Object_DataFrame.reindex(columns=alphabets)

    A   E   D
a   0 NaN   3
b   4 NaN   7
c   8 NaN  11
d  12 NaN  15

# pandas.DataFrame.reindex


According to https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html 
1.   **keywords for axes :array-like, optional**
*   New labels / index to conform to, should be specified using keywords. Preferably an Index object to avoid duplicating data.
2. ** method{None, ‘backfill’/’bfill’, ‘pad’/’ffill’, ‘nearest’}**


*   Method to use for filling holes in reindexed DataFrame. Please note: this is only applicable to DataFrames/Series with a monotonically increasing/decreasing index.

None (default): don’t fill gaps

pad / ffill: Propagate last valid observation forward to next valid.

backfill / bfill: Use next valid observation to fill gap.

nearest: Use nearest valid observations to fill gap. *italicised text*
*  copybool: default True


3.   **copybool: default True**


*   Return a new object, even if the passed indexes are the same.
*   List item


4.  **level: int or name**

*   Broadcast across a level, matching Index values on the passed MultiIndex level.


5.   **fill_value :scalar, default np.NaN**

* Value to use for missing values. Defaults to NaN, but can be any “compatible” value.  

6. **limit: int, default None**
*   Maximum number of consecutive elements to forward or backward fill.


7.   **tolerance: optional**


*   Maximum distance between original and new labels for inexact matches. The values of the index at the matching locations most satisfy the equation abs(index[indexer] - target) <= tolerance.

Tolerance may be a scalar value, which applies the same tolerance to all values, or list-like, which applies variable tolerance per element. List-like includes list, tuple, array, Series, and must be the same size as the index and its dtype must exactly match the index’s type.

# Dropping entries from an Axis

In [10]:
Object_3=pd.Series(np.arange(1,4),index=['a','b','c'])
Object_3

a    1
b    2
c    3
dtype: int64

In [11]:
#In order to remove the item from the Pandas Series
New_Object_3=Object_3.drop('a')
New_Object_3

b    2
c    3
dtype: int64

In [12]:
New_Object_3.drop(['b','c'])

Series([], dtype: int64)

In [18]:
Object_3.drop('c',inplace=True)
Object_3

a    1
b    2
dtype: int64

In [14]:
#Using with Data Frame
Object_DataFrame2=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'],columns=['A','B','C'],)
Object_DataFrame2.index.name='small';Object_DataFrame2.columns.name='LARGE'
Object_DataFrame2

LARGE  A  B  C
small
a      0  1  2
b      3  4  5
c      6  7  8

In [15]:
#Removes the values along the row
Object_DataFrame2.drop(['a'])

LARGE  A  B  C
small
b      3  4  5
c      6  7  8

In [16]:
#Remove the values along the column
Object_DataFrame2.drop('A',axis=1)

LARGE  B  C
small
a      1  2
b      4  5
c      7  8

In [17]:
#Alternative method to remove the values along the column
Object_DataFrame2.drop('B',axis='columns')

LARGE  A  C
small
a      0  2
b      3  5
c      6  8

# Indexing, Selection & Filtering

In [19]:
i=1
Object_4=pd.Series(np.arange(i,i+4),index=['a','b','c','d'])
Object_4

a    1
b    2
c    3
d    4
dtype: int64

In [20]:
Object_4['a']

1

In [21]:
Object_4[0]

1

In [23]:
Object_4[0:3]

a    1
b    2
c    3
dtype: int64

In [24]:
Object_4[['a','b']]

a    1
b    2
dtype: int64

In [25]:
Object_4[[0,2]]

a    1
c    3
dtype: int64

In [26]:
Object_4[Object_4>9]

Series([], dtype: int64)

In [27]:
Object_4['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

In [28]:
Object_4['a':'d']='Same Value'
Object_4

a    Same Value
b    Same Value
c    Same Value
d    Same Value
dtype: object

In [30]:
Object_DataFrame3=pd.DataFrame(np.arange(25).reshape((5,5)),index=['a','b','c','d','e'],columns=['A','B','C','D','E'],)
Object_DataFrame3.index.name='small';Object_DataFrame2.columns.name='LARGE'
Object_DataFrame3

        A   B   C   D   E
small
a       0   1   2   3   4
b       5   6   7   8   9
c      10  11  12  13  14
d      15  16  17  18  19
e      20  21  22  23  24

In [31]:
Object_DataFrame3['E']

small
a     4
b     9
c    14
d    19
e    24
Name: E, dtype: int64

In [32]:
Object_DataFrame3[1:4]

        A   B   C   D   E
small
b       5   6   7   8   9
c      10  11  12  13  14
d      15  16  17  18  19

In [33]:
Object_DataFrame3[Object_DataFrame3['E']>=8]

        A   B   C   D   E
small
b       5   6   7   8   9
c      10  11  12  13  14
d      15  16  17  18  19
e      20  21  22  23  24

In [34]:
Object_DataFrame3<=10

           A      B      C      D      E
small
a       True   True   True   True   True
b       True   True   True   True   True
c       True  False  False  False  False
d      False  False  False  False  False
e      False  False  False  False  False

In [36]:
Object_DataFrame3[Object_DataFrame3<=10]='I changed the value'

TypeError: ignored

In [37]:
Object_DataFrame3

                         A  ...                    E
small                       ...
a      I changed the value  ...  I changed the value
b      I changed the value  ...  I changed the value
c      I changed the value  ...                   14
d                       15  ...                   19
e                       20  ...                   24

[5 rows x 5 columns]

# loc & iloc selection