<a href="https://colab.research.google.com/github/alekhaya99/Pandas_Tutorial/blob/master/Pandas_Tutorial_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
 Object_DataFrame=pd.DataFrame([[1,3],[2,5],[np.nan,np.nan],[6,7]],index=['A','B','C','D'],columns=[1,2])
Object_DataFrame

     1    2
A  1.0  3.0
B  2.0  5.0
C  NaN  NaN
D  6.0  7.0

In [3]:
#In order to do the sum of the columns
Object_DataFrame.sum()

1     9.0
2    15.0
dtype: float64

In [4]:
#Doing sum on the rows
Object_DataFrame.sum(axis='columns')

A     4.0
B     7.0
C     0.0
D    13.0
dtype: float64

In [5]:
Object_DataFrame.sum(axis=1)

A     4.0
B     7.0
C     0.0
D    13.0
dtype: float64

In [6]:
# 'skipna' excludes the Nan values and it is true by default
Object_DataFrame.sum(axis=1,skipna=False)

A     4.0
B     7.0
C     NaN
D    13.0
dtype: float64

In [14]:
d = {'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird'],
     'animal': ['cat', 'dog', 'bat', 'penguin'],
     'locomotion': ['walks', 'walks', 'flies', 'walks']}
df = pd.DataFrame(data=d)
df = df.set_index(['class', 'animal', 'locomotion'])
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

In [20]:
#count the number of NA values
Object_DataFrame.count()

1    3
2    3
dtype: int64

In [21]:
#Compute the set of summary statistics of Series or each DataFrame column
Object_DataFrame.describe()

              1    2
count  3.000000  3.0
mean   3.000000  5.0
std    2.645751  2.0
min    1.000000  3.0
25%    1.500000  4.0
50%    2.000000  5.0
75%    4.000000  6.0
max    6.000000  7.0

In [24]:
#Compute the minimum values
Object_DataFrame.min(axis=1)

A    1.0
B    2.0
C    NaN
D    6.0
dtype: float64

In [25]:
Object_DataFrame.min()

1    1.0
2    3.0
dtype: float64

In [26]:
#Compute the maximum values
Object_DataFrame.max()

1    6.0
2    7.0
dtype: float64

In [35]:

sr = pd.Series([34, 5, 13, 32, 4, 15],index = ['A', 'B', 'C', 'D', 'E', 'F']) 
  
sr

A    34
B     5
C    13
D    32
E     4
F    15
dtype: int64

In [36]:
#Compute the index location at which minimum value is obtained
sr.argmin()

4

In [37]:
#Compute the index location at which maximum value is obtained
sr.argmax()

0

In [38]:
#Computes the index labels at which maximum value is obtained
Object_DataFrame.idxmax()

1    D
2    D
dtype: object

In [40]:
Object_DataFrame.idxmax(axis=1)

A    2.0
B    2.0
C    NaN
D    2.0
dtype: float64

In [41]:
#Computes the index labels at which minimum value is obtained
Object_DataFrame.idxmin(axis=1)

A    1.0
B    1.0
C    NaN
D    1.0
dtype: float64

In [42]:
Object_DataFrame.idxmin()

1    A
2    A
dtype: object

In [43]:
#Computes the sample quantile ranging from 0 to 1
Object_DataFrame.quantile()

1    2.0
2    5.0
Name: 0.5, dtype: float64

In [44]:
#Computes the sum of values
Object_DataFrame.sum()

1     9.0
2    15.0
dtype: float64

In [46]:
Object_DataFrame.sum(axis=1,skipna=False)

A     4.0
B     7.0
C     NaN
D    13.0
dtype: float64

In [47]:
#Compute the mean of the values
Object_DataFrame.mean()

1    3.0
2    5.0
dtype: float64

In [48]:
Object_DataFrame.mean(axis=1)

A    2.0
B    3.5
C    NaN
D    6.5
dtype: float64

In [49]:
#Compute the Arithmetic median of values
Object_DataFrame.median()

1    2.0
2    5.0
dtype: float64

In [50]:
Object_DataFrame.median(axis=1)

A    2.0
B    3.5
C    NaN
D    6.5
dtype: float64

In [51]:
#Compute the mean absolute deviation from mean value
Object_DataFrame.mad()

1    2.000000
2    1.333333
dtype: float64

In [52]:
#Computes the product of all values
Object_DataFrame.prod()

1     12.0
2    105.0
dtype: float64

In [53]:
Object_DataFrame.prod(axis=1)

A     3.0
B    10.0
C     1.0
D    42.0
dtype: float64

In [54]:
#Computes the variance of values
Object_DataFrame.var()

1    7.0
2    4.0
dtype: float64

In [55]:
Object_DataFrame.var(axis=1)

A    2.0
B    4.5
C    NaN
D    0.5
dtype: float64

In [56]:
#Computes the standard deviation of values
Object_DataFrame.std()

1    2.645751
2    2.000000
dtype: float64

In [57]:
Object_DataFrame.std(axis=1)

A    1.414214
B    2.121320
C         NaN
D    0.707107
dtype: float64

In [58]:
#Compute the skewness (third moment) of values
Object_DataFrame.skew()

1    1.457863
2    0.000000
dtype: float64

In [59]:
Object_DataFrame.skew(axis=1)

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [60]:
#Compute the kurtosis (fourth moment) of values
Object_DataFrame.kurt()

1   NaN
2   NaN
dtype: float64

In [61]:
Object_DataFrame.kurt(axis=1)

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [62]:
#Compute the cumulative sum 
Object_DataFrame.cumsum()

     1     2
A  1.0   3.0
B  3.0   8.0
C  NaN   NaN
D  9.0  15.0

In [63]:
Object_DataFrame.cumsum(axis=1)

     1     2
A  1.0   4.0
B  2.0   7.0
C  NaN   NaN
D  6.0  13.0

In [64]:
#Compute the cumulative minimum values
Object_DataFrame.cummin()

     1    2
A  1.0  3.0
B  1.0  3.0
C  NaN  NaN
D  1.0  3.0

In [65]:
Object_DataFrame.cummin(axis=1)

     1    2
A  1.0  1.0
B  2.0  2.0
C  NaN  NaN
D  6.0  6.0

In [66]:
#Compute the cumulative maximum values
Object_DataFrame.cummax()

     1    2
A  1.0  3.0
B  2.0  5.0
C  NaN  NaN
D  6.0  7.0

In [67]:
Object_DataFrame.cummax(axis=1)

     1    2
A  1.0  3.0
B  2.0  5.0
C  NaN  NaN
D  6.0  7.0

In [68]:
#Compute the cumulative product values
Object_DataFrame.cumprod()

      1      2
A   1.0    3.0
B   2.0   15.0
C   NaN    NaN
D  12.0  105.0

In [69]:
Object_DataFrame.cumprod(axis=1)

     1     2
A  1.0   3.0
B  2.0  10.0
C  NaN   NaN
D  6.0  42.0

In [70]:
#Computes the first arithmetic difference
Object_DataFrame.diff()

     1    2
A  NaN  NaN
B  1.0  2.0
C  NaN  NaN
D  NaN  NaN

In [71]:
Object_DataFrame.diff(axis=1)

    1    2
A NaN  2.0
B NaN  3.0
C NaN  NaN
D NaN  1.0

In [72]:
#Computes the percent change
Object_DataFrame.pct_change()

     1         2
A  NaN       NaN
B  1.0  0.666667
C  0.0  0.000000
D  2.0  0.400000

In [73]:
Object_DataFrame.pct_change(axis=1)

    1         2
A NaN  2.000000
B NaN  1.500000
C NaN       NaN
D NaN  0.166667