In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

In [3]:
products=['a','b','c','d']

In [4]:
product_categories=pd.Series(products)

In [5]:
product_categories

0    a
1    b
2    c
3    d
dtype: object

In [7]:
daily_rates_dollars=pd.Series([40,45,50,60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [8]:
import numpy as np

In [9]:
array_a=np.array([10,20,30,40,50])

In [10]:
type(array_a)

numpy.ndarray

In [11]:
series_a=pd.Series(array_a)

In [12]:
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

# Attributes

In [13]:
series_a.size

5

In [14]:
product_categories.dtype

dtype('O')

In [16]:
product_categories.name="Product Categories"
product_categories

0    a
1    b
2    c
3    d
Name: Product Categories, dtype: object

In [17]:
print(product_categories.name)

Product Categories

# Indexing

In [18]:
price_per_category={'Product A':2000,'Product B':500,'Product C':100}
price_per_category

{'Product A': 2000, 'Product B': 500, 'Product C': 100}

In [19]:
type(price_per_category)

dict

In [21]:
price_per_category=pd.Series(price_per_category)
price_per_category

Product A    2000
Product B     500
Product C     100
dtype: int64

In [22]:
type(price_per_category)

pandas.core.series.Series

In [23]:
price_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [24]:
type(price_per_category.index)

pandas.core.indexes.base.Index

# Labeled based and Position based indexing

In [25]:
series_b=pd.Series([10,20,30,40,50])

In [26]:
series_b.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
type(series_b.index)

pandas.core.indexes.range.RangeIndex

In [29]:
list(series_b.index)

[0, 1, 2, 3, 4]

In [30]:
price_per_category=pd.Series(price_per_category)
price_per_category

Product A    2000
Product B     500
Product C     100
dtype: int64

# Indicies Python

In [31]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [33]:
series_a[0]

10

In [36]:
price_per_category['Product A']

2000

In [38]:
series_b=pd.Series([10,20,30,40,50],index=[1,2,3,4,5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [39]:
series_b[1]

10

In [40]:
series_c=pd.Series([10,20,30,40,50],index=['1','2','3','4','5'])
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [41]:
series_c[0]

10

# Method

In [43]:
start_date_deposits=pd.Series({
    '7/6/2020':2000,
    '5/6/2020':3000,
    '6/6/2020':1000,
    '4/6/2020':2000,
    '3/6/2020':2000,
    '2/6/2020':2000,
    '1/6/2020':2000,
    '31/5/2020':2000,
    '29/5/2020':2000
})

In [44]:
start_date_deposits.sum

<bound method Series.sum of 7/6/2020     2000
5/6/2020     3000
6/6/2020     1000
4/6/2020     2000
3/6/2020     2000
2/6/2020     2000
1/6/2020     2000
31/5/2020    2000
29/5/2020    2000
dtype: int64>

In [45]:
start_date_deposits.sum()

18000

In [46]:
start_date_deposits.min()

1000

In [47]:
start_date_deposits.max()

3000

In [49]:
start_date_deposits.idxmax()

'5/6/2020'

In [50]:
start_date_deposits.idxmin()

'6/6/2020'

In [51]:
start_date_deposits.head()

7/6/2020    2000
5/6/2020    3000
6/6/2020    1000
4/6/2020    2000
3/6/2020    2000
dtype: int64

In [52]:
start_date_deposits.tail()

3/6/2020     2000
2/6/2020     2000
1/6/2020     2000
31/5/2020    2000
29/5/2020    2000
dtype: int64

In [53]:
start_date_deposits.head(3)

7/6/2020    2000
5/6/2020    3000
6/6/2020    1000
dtype: int64

In [54]:
start_date_deposits.head(n=10)

7/6/2020     2000
5/6/2020     3000
6/6/2020     1000
4/6/2020     2000
3/6/2020     2000
2/6/2020     2000
1/6/2020     2000
31/5/2020    2000
29/5/2020    2000
dtype: int64

# Dataframe

In [56]:
data={'Product Name':['Product A','Product B','Product C'],'ProductPrice':[2000,10000,300]}
df=pd.DataFrame(data)
df

  Product Name  ProductPrice
0    Product A          2000
1    Product B         10000
2    Product C           300

# Create DF +index

In [58]:
data={'Product Name':['Product A','Product B','Product C'],'ProductPrice':[2000,10000,300]}
product_IDs=['A','B','C']
df=pd.DataFrame(data,index=product_IDs)
df

  Product Name  ProductPrice
A    Product A          2000
B    Product B         10000
C    Product C           300

# Create DF using list of Dictionaries

In [60]:
data=[{'ProductName':'Product A','Product Price':2000},
     {'ProductName':'Product B','Product Price':5000},
     {'ProductName':'Product C','Product Price':1000}]
df=pd.DataFrame(data)
df

  ProductName  Product Price
0   Product A           2000
1   Product B           5000
2   Product C           1000

In [61]:
data=[{'ProductName':'Product A','Product Price':2000},
     {'ProductName':'Product B','Product Price':5000},
     {'ProductName':'Product C','Product Price':[1000,2000]}]
df=pd.DataFrame(data)
df

  ProductName Product Price
0   Product A          2000
1   Product B          5000
2   Product C  [1000, 2000]

# Construct a DF from a dictionary of Pandas Series

In [62]:
ser_products=pd.Series(['Product A','Product B','Product C'])
ser_prices=pd.Series([2000,3000,5000])

In [63]:
data={'ProductName':ser_products,'ProductPrice':ser_prices}
df=pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A          2000
1   Product B          3000
2   Product C          5000

In [66]:
ser_products=pd.Series(['Product A','Product B','Product C'],index=['A','B','C'])
ser_prices=pd.Series([2000,3000,5000],index=['A','B','C'])

data={'ProductName':ser_products,'ProductPrice':ser_prices}
df=pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A          2000
B   Product B          3000
C   Product C          5000

In [ ]:
ser_products=pd.Series(['Product A','Product B','Product C'],index=['A','B','C'])
ser_prices=pd.Series([2000,3000,5000],index=['C','B','A'])

data={'ProductName':ser_products,'ProductPrice':ser_prices}
df=pd.DataFrame(data)
df

# Construct a Data Frame using list of list

In [67]:
data=[['Product A',2000],['Product B',100],['Product C',50]]
df=pd.DataFrame(data)
df

           0     1
0  Product A  2000
1  Product B   100
2  Product C    50

In [68]:
df.columns=['ProductName','ProductPrice']

In [69]:
df

  ProductName  ProductPrice
0   Product A          2000
1   Product B           100
2   Product C            50

In [70]:
df.index=['A','B','C']
df

  ProductName  ProductPrice
A   Product A          2000
B   Product B           100
C   Product C            50

# DF in a professional way

In [71]:
df=pd.DataFrame(data=[['Product A',2000],['Product B',100],['Product C',50]],
               columns=['ProductName','ProductPrice'],
               index=['A','B','C'])

In [72]:
df

  ProductName  ProductPrice
A   Product A          2000
B   Product B           100
C   Product C            50